@media(max-width: 425px){

    .content-main a{
        font-size: 12px;
        padding: 0.5rem 1rem;
    }
    .content-main p{
        font-size: 12px;
        }
        .content-main h3{
      
            font-size: 1rem;
        }
        .content-main p{
            padding-right:8rem;
        }
        .container-sponsor h3{
            font-size: 1rem;
        }
        .onelist{
            width: 100%;
        }
        .sponsor-img {
            margin-bottom: 3rem;
           
        }
        .img-big-items-button{
    top: 30%;
    left: 25%;
        }
        .img-produc-box img{
            width: 100%;
        }
        .img-product-items ul{
            padding-left: 0;
        }
        .black-friday-title{
            top: 5%;
            left: 30%;
        }
        .black-friday-title-box a{
            padding: 0rem 1rem;
            
        }
        .black-friday-title-box{
            position: absolute;
            top: 5%;
            left: 25%;
        }
       
     
        
}